@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #222;
  --green: #90feb5;
  --action-color: var(--green);
}

body {
  font-family: Helvetica, sans-serif;
  background: rgb(10, 71, 84);
  background: linear-gradient(
    94deg,
    rgba(10, 71, 84, 1) 29%,
    rgba(51, 127, 108, 1) 100%
  );
}

.btn {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
}

.sobre {
  background: rgb(39, 107, 87);
  background: linear-gradient(
    180deg,
    rgba(39, 107, 87, 1) 0%,
    rgba(164, 216, 193, 1) 100%
  );
}

.whatsapp button {
  border: none;
  outline: none;
}
.button-wpp {
  width: 74px;
  height: 74px;
  background: transparent;
  position: fixed;
  left: 30px;
  bottom: 20px;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wpp button {
  border: none;
  outline: none;
}

.button-wpp:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  right: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0,
    rgba(0, 0, 0, 0) 80%
  );
  border: none;
  outline: none;
}

.button-wppl:hover {
  cursor: pointer;
}

.jumping {
  animation: jump 3s infinite ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

.gradient {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.text-gradient {
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-bck-center {
  animation: slide-bck-center 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s
    infinite alternate-reverse both;
}
